sandbox1/garb1/validationFramework/DATA/XSD/assertionlist.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="assertionmappings" type="assertionstype"/>
<xsd:complexType name="assertionstype">
  <xsd:sequence>
  <xsd:element name="assertionmapping" type="assertiontype" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="assertiontype">
    <xsd:sequence>
	<xsd:element name="name" type="xsd:string"/>
	<xsd:element name="ceclass" type="xsd:string"/>
	<xsd:element name="fwclass" type="xsd:string"/>
	</xsd:sequence>
</xsd:complexType>
</xsd:schema>